<p id="notice"><%= notice %></p>
<% if !@testt.nil? %>
	<% @testt.each do |t| %>
		<%= t %>
	<% end %>
<% end %>
<p>
  <h2><%= @meeting.title %></h2>
</p>

<p>
  <%= @meeting.description %>
</p>

<%= form_tag uploader_path, :method => 'get' do %>
  <%= hidden_field_tag :id, params[:id] %>
  <%= hidden_field_tag :team_member_id, params[:id] %>
  <label for="file">Select a calendar</label><%= file_field_tag "file" %>

  <%= submit_tag 'Upload'%>
<% end %>




<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team_member.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @team_member.email %>
</p>

<p>
  <strong>Meeting:</strong>
  <%= @team_member.meeting_id %>
</p>

<%= link_to 'Edit', edit_team_member_path(@team_member) %> |
<%= link_to 'Back', team_members_path %>
